body {
  background-color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 25px);
  justify-content: center;
}

.pixel {
  border: 1px solid whitesmoke;
  height: 25px;
  width: 25px;
}